{% set NewsletterUrl = config("NewsletterFS24.newsletter_url") %}
<script>

    $(document).ready( function(){

        var emailInput = $("#exampleInputEmail1");
        var emailBtn = $(".newsletter__btn-wrap").children();
        var emailModal = $("#newsletter_modal");
        var emailModalText = $("#newsletter_modal_text");


        emailBtn.click( function(){
            var mail = emailInput.val();

            if (validateMail(mail) && mail.length > 0) {
                $.ajax({
                    url: "/newsletter_fs24/register/",
                    data: {
                        mail: mail
                    },
                    success: function(data){
                        data = JSON.parse(data);
                        if(data.valid)
                        {
                            
                            showModal("Newsletter wurde erfolgreich angefragt, bitte 端berpr端fe dein Posteingang.");
                            emailInput.val("");
                        }
                        else
                        {
                            showModal(data.error);
                            alert(data.error);
                            return false;                            
                        }
                    }
                })
            }
            else {
                showModal("Bitte 端berpr端fe Deine eingegebene E-Mail.");
                return false;
            }
            return false;
        });
    });

    function validateMail(mail) {
        var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

        if(filter.test(mail))
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    function showModal(text)
    {
        emailModalText.text(text);
        emailModal.modal("show");
    }
</script>

<!-- MODAL -->


<!-- Modal -->
<div class="modal fade checkout__modal" id="newsletter_modal" tabindex="-1" role="dialog" aria-labelledby="newsletter_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newsletter_modal_label">Newsletter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <p id="newsletter_modal_text">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>